.logo{
  
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    justify-items: flex-end;  
}

.item{
    width: 140px;
    display: flex;
    justify-content:center;
}


.search {
    position: relative;
    display: flex;
  }

  .map-marker{
      background-color: rgb(185, 185, 189);
      width: 40px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px 0 0 10px;     
  }
  
  .searchTerm {
    width: 200px;
    border: 1px solid #b1b8b9;
    padding: 8px;
    height: 20px;
    border-radius: 0 0 0 0;
    color: #778080;
  }
  
  
  
  
  .searchButton {
    background-color: rgb(81, 149, 238);
    width: 80px;
    height: 38px;
    text-align: center;
    border-radius: 0 10px 10px 0;
    font-size: 30px;
  }
  .word{
      font-size: 20px;
      
  }


  .money-bill{
    background-color: rgb(185, 185, 189);
    width: 42px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    position: absolute;
    
      
  }

  .searchTerm2 {
    width: 125px;
    text-align: center;
    border: 1px solid #b1b8b9;
    padding: 8px;
    height: 20px;
    border-radius: 15px 15px 15px 15px;
    color: #778080;
    display: flex;
    justify-content: flex-end;
  }


  .child{
    background-color: rgb(185, 185, 189);
    width: 42px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    position: absolute;     
  }

  .hart{
    background-color: rgb(185, 185, 189);
    width: 42px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    position: absolute; 
  }

  .dog{
    background-color: rgb(185, 185, 189);
    width: 42px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    position: absolute; 
  }

  .wrap{
      border: 1px solid black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      
  }
  
 